<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Add moderationComment</title>
</head>
<body>

<div th:each="moderation : ${moderation}">

    <p>Наименование продукта: <span th:text="${moderation.getProduct().getName()}"></span></p>
    <p>Номер комментария: <span th:text="${moderation.getId()}"></span></p>
    <p>Комментарий: <span th:text="${moderation.getComment()}"></span></p>

</div>



<form action="/moderation/moderator_resource" method="post">

    <input type="text" name="commentId">

    <input type="text" name="moderation">

    <button type="submit">Добавить</button>

</form>





</body>
</html>
